.menu-elements {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    gap: 150px;
    justify-content: center;
    margin-top: 50px;
}

.menu-items {
    font-size: 25px;
    color: #fff;
}

.f1-logo {
    width: 150px;
} 