@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('header.css');

:root {
    --body: #0f0f0f;
}

body {
    background-color: var(--body);
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }