@use '../abstracts/colors' as c;

.menu{
    background-color: c.$black;
    height: 80px;

    .menu-elements{
        display: flex;
        font-family: 'Josefin Sans', sans-serif;
        gap: 150px;
        justify-content: center;

        .menu-items{
            margin-top: 30px;
            font-size: 25px;

            a {
                text-decoration: none;
                color: c.$white;
                transition: 0.5s;

                &:hover{
                    color: c.$red;
                }
            }

            .f1-logo{
                margin-top: -10px;
                width: 150px;
                transition: transform 0.4s;       
                display: inline-block;  

                &:hover{
                    transform: scale(1.05);
                }                       
            }

        }
    }
}