@font-face {
    font-family: "regularFont";
    src: url(../fonts/Formula1-Regular.otf);
}

$f1Font: "regularFont";

@font-face {
    font-family: "boldFont";
    src: url(../fonts/Formula1-Bold.otf);
}

$f1BoldFont: "boldFont";

@font-face {
    font-family: "wideFont";
    src: url(../fonts/Formula1-Wide.otf);
}

$f1WideFont: "wideFont";